.container{
    position: fixed;
    height: 100px;
    top: -100px;
    width: 100%;
    background-color: black;
    z-index: 4;
    transition: all ease 100ms;
}
.container.show{
    transform: translateY(100px);
}
.content{
    margin-left: 10vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    height: 100px;
    width: 70%;
}
.link{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.logoLink{
    text-decoration: none;
}
.logoLink:hover{
    cursor: pointer;
}
.icon{
    color:#43FFD2;
    font-size: 40px;
}