.container{
    transform: translateX(100vw);
    transition: all 400ms;
    position: fixed;
    display: flex;
    justify-content: right;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.20);
    backdrop-filter: none
}
.container.active{
    transform: translateX(0);
    backdrop-filter: blur(10px);
    
}
.content{
    overflow-y: scroll;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
    position: relative;
    width: 40vw;
    background-color: black;
}
.cartHeader{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid 2px #555;
   padding-bottom: 20px;
   height: 8vh;
}
.cartHeader p{
    color: #43FFD2;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.xmark{
    width: 30px;
    height: 30px;
    color: #43FFD2;
}
.xmark:hover{
    cursor: pointer;
}
.itemsBlock{
    height: 72vh;
    overflow: auto;
}
.itemsBlock::-webkit-scrollbar { width: 0; }
.itemsBlock { -ms-overflow-style: none; }
.emptyCart{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

}
.oneItemBlock{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #555;
    
}
.itemImg{
    position: relative;
    width: 10vw;
    height: 18vh;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1vw;
}
.descriptionTitle{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}
.descriptionPrice{
    color: #43FFD2;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}
.leftBlock{
    display: flex;
}
.rightBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemTotalPrice{
    display: flex;
    justify-content: right;
    color: #43FFD2;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
    position: relative;
    bottom: 0;
    
}
.footer > span{
    
    color: #43FFD2;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}
.thxForOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 55px;
    flex-shrink: 0;
    border: 0.5px solid #D978AC;
    border-radius: 25px;
    background-color: black;
    color: #D978AC;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all ease 300ms;
}
.orderBtn{
    width: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex-shrink: 0;
    border: 0.5px solid white;
    background-color: black;
    color: white;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all ease 300ms;
}
.orderBtn:hover{
    border: none;
    background-color: #43FFD2;
    color: black;
}