.container{
    position: relative;
    z-index: 1;
    transform: translateX(0px);
    margin: 0px 15px;
    transition: transform ease 400ms;
}
.title{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFF;

}
.price{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

}
.pictureContainer{
    width: 350;
    height: 450;
    overflow: hidden;
}
.picture{
    transition: all ease 100ms;
}
.picture:hover{
    transform: scale(1.3)
}
