.container{
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    position: relative;
    width: 100%;
    height: 370px;
    flex-shrink: 0;
    bottom: 0px;
    background-color: black;
    justify-content: space-around;
}
