.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    
}
.bg{
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.content {
    top: 200px;
    position: relative;
    margin-left: 10vw;
    width: 80vw;
    
}
.leftFlower{
    position: relative;
    transform: translateX(-315px) translateY(-3vw);
    float: left;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 1;
}
.rightFlower{
    position: relative;
    transform: translateX(440px) translateY(-46vw);
    float: right;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 1;
}
.contentDisplay{
    display: flex;
    position: relative;
    margin-bottom: 200px;
    margin-top: 70px;
    z-index: 3;
}