.container{
    height: 2000px;
    overflow: hidden;
    width: 100%;
}
.content {
    position: absolute;
    top: 0;
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
}
.leftFlower{
    position: relative;
    transform: translateX(-315px) translateY(-3vw);
    float: left;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 1;
}
.rightFlower{
    position: relative;
    transform: translateX(440px) translateY(-46vw);
    float: right;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 1;
}
