.container{
    position: relative;
    right: 10vw;
    top: 25vw;
    border-radius: 504.417px;
    background: #7D2253;
    filter: blur(160px);
    width: 504.417px;
    height: 360.441px;
    flex-shrink: 0;
    z-index: 0;
}