.container{
    position: relative;
    z-index: 1;
    margin-top: 160px;
}
.contentContainer{
    display: flex;
}
.topRectangle{
    margin-bottom: 30px;
    background: #D978AC;
    height: 10px;
    flex-shrink: 0;
    width: 65px;
}
.rightStroke{
    float: right;
    position: relative;
    width: 1px;
    height: 437px;
    background: #D978AC;
}
.stepsContainer{
    margin-left: 250px;
    margin-top: 50px;
    width: 740px;
    height: 500px;

}
.headText{
    margin-left: 165px;
    width: 700px;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
}
.img{
    margin-left: -150px;
    margin-top: -200px;
    position: relative;
    z-index: 2;
}
.bgTextLF{
    position: relative;
    width: 305px;
    transform: rotate(-10.255deg) translateY(-100px);
    color: #1F3A3A;
    font-size: 160px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    text-transform: capitalize;
    float: right;
    margin-right: 400px;
}
.blueEffect{
    position: relative;
    border-radius: 300.545px;
    filter: blur(150px);
    background: rgba(67, 255, 210, 0.47);
    width: 513.998px;
    height: 461.887px;
    transform: rotate(150deg) translateY(500px);
    z-index: 5;
}